<!-- About Section -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>About {{site.eventName}}</h3>
            <div class="row about-details">
                <div class="col-md-4 col-sm-4 col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="0">
                        <h5>SFD with NOSK</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/conference.jpg" height="128" width="128" alt="Conference">
                        <p>SFD is a worldwide celebration of Free and Open Source Software (FOSS) and every year NOSK is also celebrating SFD with FOSS enthusiastic peoples.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
                        <h5>ENTERTAINMENT</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/workshop.jpg" height="128" width="128" alt="Workshops">
                        <p>Open source based films is shown with 3D glasses</p>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="1000">
                        <h5>DESTRO DEMO</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/hackathon.jpg" height="128" width="128" alt="Hackathons">
                        <p>Demo or Installation camp of various Destro  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
