<!-- Begin Top Section -->
<section id="top-section-hero" style="background-image: url('{{ site.baseurl }}/img/hero.jpg');">

    {% include navigation.html %}

    <div class="jumbotron">
        <div class="textwidget" style="position:relative;top:10%;left:0%px;"><a href="http://www.softwarefreedomday.org"><img src="http://www.softwarefreedomday.org/images/banners/web-banner-chat-attending-h.png" alt="Attending SFD"/></a>
		</div>
		<div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <h1><span id="typeout-text"></span></h1>
            <p>{{site.eventDate}}</p>
            <p itemscope="" itemtype="http://schema.org/Event">
                            <time itemprop="startDate" datetime="{{site.eventStartTime}}">{{site.eventStartTimeHumanReadable}}</time>-
                            <time itemprop="endDate" datetime="{{site.eventEndTime}}">{{site.eventEndTimeHumanReadable}}</time>
                        </p><p style="font-size:40px;font-weight:bold;color:#25d6fc;">Freedom Matters</p>
                <!-- <a href="{{site.baseurl}}/team" target="_blank">SFD Team</a> -->
            </span> -->
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
</section>
<!-- End Top Section
