<!-- Begin Location Section -->
    <div class="content-wrapper">
        <div class="animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
            <div class="row">
                <div class="pull-left">
                    <ul itemscope="" itemtype="http://schema.org/PostalAddress">
                        {% if site.eventLocationName %}
                        <li itemprop="name">{{site.eventLocationName}}</li>{% endif %}
                        <li itemprop="address">{{site.eventLocationAddress}}</li>
                        <li>Ph: +977-1-5006354, 5006270</li>
                    </ul>
                </div>
                <a href="{{ site.baseurl | append: '/location/#findyourway' }}" class="pull-right">
                    <svg class="icon icon-direction" viewBox="0 0 32 32">
                        <use xlink:href="img/sprites/sprites.svg#icon-direction"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

<!-- End Location Section -->
