<div class="cardz">
  <ul class="timeline">

    <li class="timeline__item">
      <div class="timeline__step">
        <div class="timeline__step__marker timeline__step__marker--red"></div>
      </div>
      <div class="timeline__time">
        09:00 AM
      </div>
      <div class="timeline__content">
        <div class="timeline__title">
          Registration
        </div>
        <ul class="timeline__points">
          <li>Registration will be open for visitors</li>
        </ul>
      </div>
    </li>

    <li class="timeline__item">
      <div class="timeline__step">
        <div class="timeline__step__marker timeline__step__marker--blue"></div>
      </div>
      <div class="timeline__time">
        11:00 AM
      </div>
      <div class="timeline__content">
        <div class="timeline__title">
          Guest Speakers
        </div>
        <ul class="timeline__points">
          <li>Guest Speakers of the day will share valueable words to motivate us. We are yet to finalize the speakers.</li>
        </ul>
      </div>
    </li>

    <li class="timeline__item">
      <div class="timeline__step">
        <div class="timeline__step__marker timeline__step__marker--salmon"></div>
      </div>
      <div class="timeline__time">
        12:00 AM
      </div>
      <div class="timeline__content">
        <div class="timeline__title">
          NOSKode
        </div>
        <ul class="timeline__points">
          <li>Presentation and Demo of NOSKode participants.</li>
        </ul>
      </div>
    </li>

    <li class="timeline__item">
      <div class="timeline__step">
        <div class="timeline__step__marker timeline__step__marker--blue"></div>
      </div>
      <div class="timeline__time">
        01:00 PM
      </div>
      <div class="timeline__content">
        <div class="timeline__title">
          Presentation
        </div>
        <ul class="timeline__points">
          <li>Presentation on different topics. The topics for presentation is yet to be decided.</li>
        </ul>
      </div>
    </li>
	
    <li class="timeline__item">
      <div class="timeline__step">
        <div class="timeline__step__marker timeline__step__marker--blue"></div>
      </div>
      <div class="timeline__time">
        02:00 PM
      </div>
      <div class="timeline__content">
        <div class="timeline__title">
          NOSK Programming Competition
        </div>
        <ul class="timeline__points">
          <li>The programming competition begins. The competition will be 2 hours long.</li>
        </ul>
      </div>
    </li>
	
    <li class="timeline__item">
      <div class="timeline__step">
        <div class="timeline__step__marker timeline__step__marker--blue"></div>
      </div>
      <div class="timeline__time">
        All Day Events
      </div>
      <div class="timeline__content">
        <ul class="timeline__points">
          <li>Distro Demo, Game Stalls, Open Art, Food Stalls, Face Paint, Photo Booth</li>
        </ul>
      </div>
    </li>

  </ul>
</div>


