<!-- Begin Speakers List-->
<section id="speakers">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row text-left">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Registration</td>
                                <td>10:00 AM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            
        </div>
    </div>
</section>
<!-- End Speakers List -->