<!-- Begin Speakers List-->

<section id="speakers">
    <div class="content-wrapper">
    <div class="container">
            <div class="row text-left">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align:center">Name</th>
                                <th style="text-align:center">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Registration</td>
                                <td>09:00 AM</td>
                            </tr>
                            <tr>
                            	<td>Speakers
	                            	<ul>
		                            	<li>Nitesh Rijal(Founder)</li>
		                            	<li>Takerhiro Mouri(TECHRISE)</li>
		                            	<li>Mahabir Pun</li>
		                            	<li>Asgar Ali(F1soft)</li>
	                            	</ul>
                            	</td>
                   
                            	<td>11:00 AM</td>
                            </tr>
                            <tr>
                            	<td>NOSKode - A Coding Competition</td>
                            	<ul>A coding Competition with a theme of "Free and open source software" for People</ul>
                            	<td>9:00 AM- 5:00 PM</td>
                            </tr>
							<tr>
								<td>Distro Demo
									<ul>
										<li>Demonstration of Debian</li>
										<li>Demonstration of Ubuntu</li>
										<li>Demonstration of Lakka</li>
										<li>Demonstration of Mint</li>
										<li>Demonstration of Kali</li>
										<li>Demonstration of Fedora</li>
										<li>Demonstration of Manjora</li>
									
							
										</ul>
								</td>
								<td>All Day</td>
							</tr>

							<tr>
								<td>Open software Demo</td>
								
								<!--	<ul>
										<li>SFD For Business</li>
										<li>SFD For Collaboration and Communication</li>
										<li>SFD for Designers</li>
										<li>SFD for Education</li>
										<li>SFD for Me</li>
										<li>SFD for Publisher</li>
										<li>SFD for Student</li>
										<li>SFD Women In FOSS</li>
									</ul> -->
								
								<td>All Day</td>
							</tr>
							
							<tr>
								<td>Open Hardware Demo</td>
								<td>All Day</td>
							</tr>
							<tr>
                                <td><b>USB Linux Installation Camp</b>
								<br/><ul>
                                If you want to try GNU/Linux, bring your USB drive and we will install Linux in it so that you may try it live or install it in your system.
                                </ul>
								</td>
                                <td>All Day</td>
                            </tr>
							<tr>
                                <td><b>Linux Rescue Shell</b>
								<ul>Bring a broken Linux system and we will try to fix it for you. We can't promise but we will surely give our best to solve the problems.</ul>
                                </td>
								<td>All Day</td>
                            </tr>
							
							<tr>
                                				<td><b>3D Movie Shows</b>
								<br/><ul>
									Linux based movies like Sintel, Planes and many more.	
                                					</ul>
								</td>
                                				<td>2:00 PM</td>
                        				</tr>
                        				<tr>
								<td>Open Source Games</td>
								<td>2:00 PM</td>
							</tr>
							<tr>
								<td><b>Talk Shows/Presentations</b>
								<ul>Talk shows on various technical topics related to open source will be conducted parallelly.</ul>
								</td>
								<td> 11:00 AM-2:00 PM</td>
							</tr>
							
							<tr>
								<td><b>TB Satasat</b>
`								<ul>Sharing is caring! Give and/or take <strong>free</strong> resources.</ul>
								</td>
							</tr>
							<tr>
								<td>Treasure Hunt</td>
							</tr>
							<tr>
								<td>VR Demo</td>
							</tr>
							<tr>
								<td>Photobooth</td>
							</tr>
							<tr>
								<td>Handprint/Signature</td>
							</tr>
							
							
							</table>
							<p style="text-align:center"><b>NCIT Specials</b></p>
							<table class="table table-bordered">
							<tr>
							<td>
							<ul><b>Photo-booth</b></ul>
							<ul>We will place a photo-booth with logos, etc.You can show your love to open source by taking selfies and sharing it.</ul>
							</td>
							<td>
							<ul><b>Open Art</b></ul>
							<ul>In this event, any one can come and express their imagination into canvas. You will get color pencils and paper for drawing.</ul>
							</td>
							</tr>
							</table>
							<p style="text-align:center"><b>Come! Be with us:</b><br/>
							Date: <b>17th September, 2016 (Saturday)</b><br/>
							Venue: Nepal College of Information Technology (NCIT), Balkumari, Lalitpur<br/>
							Time: <b>9:00 AM to 5:00 PM</b>
							</p>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- End Speakers List -->
