<!-- Begin Speakers List-->
<a href="http://www.softwarefreedomday.org/"><img src="http://www.softwarefreedomday.org/countdown/banner1-UTC-4-en.png" border="0" width="160" height="90" alt="Celebrate SFD with us on September 20, 2014!"></a>
<section id="speakers">
    <div class="content-wrapper">
    <div class="container">
            <div class="row text-left">
                <div class="table-responsive">
				Web Squat
                    <table class="table table-bordered" border='1px'>
                        <thead>
                            <tr>
                                <th style="text-align:center">Name</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href=" ">Aasish Limbu</a></td>                               
                            </tr>
							<tr>								
								<td><a href="">Anit Chaudhary</a></td>
							</tr>
							
							<tr>
								<td><a href=" ">Sandip Pokhrel</a></td>
							</tr>
							<tr>
                                <td><a href=" ">Rabindra Acharya</a></td>
                            </tr>
							<tr>
                            	<td><a href=" ">Dipika Rai</a></td>
                            </tr>
							<tr>
								<td><a href=" ">Nimesh Ghimire</a></td>
							
							</tr>
							<tr>
								<td><a href=" ">Rajeshwor Yadav</a></td>
							</tr>
							<td><a href=" ">Rohini Rajbhandari</a></td>
							</tr>				
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- End Speakers List -->