<!-- Begin Sponsors Section -->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Sponsors</h3>
            <ul class="list-inline">
				<li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/Techrise.png" alt="sponsor-3" title="TECHRISE">
                    </a>
                </li>
                            
			  <li>
                  <!--  <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/leapfrogacademy.png" alt="sponsor-2" title="Leapfrog Academy">
                    </a>
                </li> -->
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/SodhPuch.jpg" alt="sponsor-1" title="Sodhpuch">
                    </a>
                </li>
               <!-- <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/vianet.png" alt="sponsor-2" title="ViaNet">
                    </a>
                </li>
                <li> -->
                <!--
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/worldlink.gif" alt="sponsor-3" title="WorldLink Technology Pvt. Ltd.">
                    </a>
                </li> -->
                <br>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/F1soft.jpg" alt="sponsor-5" title="F1Soft">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/Libresoft.png" alt="sponsor-20" title="Libresoft">
                    </a>
                </li>
                <br>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/suzuki.png" alt="sponsor-8" title="Suzuki Driving Center">
                    </a>
                </li>
                
                 <!--  <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/leapfrogacademy.png" alt="sponsor-2" title="Leapfrog Academy">
                    </a>
                </li> -->
                
		<li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/himalayan.jpg" alt="sponsor-1" title="Himalayan Computer Traders">
                    </a>
                </li>
                <br>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/CG.jpg" alt="sponsor-1" title="Chaudhary Group">
                    </a>
                </li>
                <br>
                <li>
                	<p>SMS partner</p>	
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/sparrowsms.png" alt="sponsor-1" title="Sparrow SMS">
                    </a>	
                </li>
                
            </ul>
           
        </div>
    </div>
</section>
<!-- End Sponsors Section -->
