<!-- Begin Sponsors Section -->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Sponsors</h3>
            <ul class="list-inline">
				<li>
                    <a href="http://www.techrise.me/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/Techrise.png" alt="sponsor-1" title="TECHRISE">
                    </a>
                </li>
                <li>
                    <a href="http://www.leapfrog.academy/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/itadvisors.png" alt="sponsor-2" title="IT Advisors Nepal">
                    </a>
                </li> 
                            
		<li>
                    <a href="http://www.leapfrog.academy/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/leapfrogacademy.png" alt="sponsor-2" title="Leapfrog Academy">
                    </a>
                </li> 
                <br>
                <li>
                    <a href="http://sds.org.np/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/suzuki.png" alt="sponsor-7" title="Suzuki Driving Center">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/eSewa.png" alt="sponsor-5" title="eSewa">
                    </a>
                </li>
               
               <!-- <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/vianet.png" alt="sponsor-2" title="ViaNet">
                    </a>
                </li>
                <li> -->
                <!--
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/worldlink.gif" alt="sponsor-3" title="WorldLink Technology Pvt. Ltd.">
                    </a>
                </li> -->
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/CG.jpg" alt="sponsor-9" title="Chaudhary Group">
                    </a>
                </li>
               
                <br>
              
                <li>
                	<h6>Food partner</h6>	
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/pizzacutter.jpg" alt="sponsor-10" title="Pizza Cutter">
                    </a>	
                </li>
                <li style="display:inline-block;">
                	<h6><center>Media Partners</center></h6>		
                    <a  href="http://livingwithict.com/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/livingwithict.png" alt="sponsor-11" style="width: 150px;" title="Living With ICT">
                    </a>
                </li>
                <li style="display:inline-block;">
                    
                	<a href="https://www.youtube.com/channel/UCRdNAnWHh1SiunllkIXzG3g" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/ekasari.png" alt="sponsor-11" style="width: 150px;" title="e-kasari?">
                    </a>
                </li>
                <li>
                	<h6>SMS partner</h6>	
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/sparrowsms.png" alt="sponsor-10" title="Sparrow SMS">
                    </a>	
                </li>
                
            </ul>
           
        </div>
    </div>
</section>
<!-- End Sponsors Section -->
