<!-- Begin Sponsors Section -->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-md-10 col-lg-10 col-lg-offset-1">
            <h3>Sponsors</h3>
            <ul class="list-inline">
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/himalayan.jpg" alt="sponsor-1" title="Himalayan Computer Traders">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/leapfrog.png" alt="sponsor-2" title="LeapFrog Technology">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/mozilla-nepal.png" alt="sponsor-3" title="Mozilla Nepal">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/SodhPuch.jpg" alt="sponsor-1" title="Sodhpuch">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/vianet.png" alt="sponsor-2" title="ViaNet">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/worldlink.gif" alt="sponsor-3" title="WorldLink Technology Pvt. Ltd.">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End Sponsors Section -->
